@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

#diamond-container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.diamond-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  flex-direction: column;
  border: 2px solid black;
  width: fit-content;
}

.odd-diamond {
  line-height: 0.6;
}



.diamond-row {
  font-size: 20px;
  font-family: 'Space Mono', monospace;
  white-space: pre;
  letter-spacing: 0px;
}
